<table>
  <% var i; for (i=0; i < quizes.length; i++) { %>        
    <tr>
      <td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
      <%if(session.user) {
         if (session.user.isAdmin || session.user.id === quizes[i].UserId) {%>
        <td><a href="/quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
        <td>
          <form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
            <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
              borrar
            </button>
          </form>
        </td>
        <td>
        <% if (favs.length === 0){%>
                 <form method="post" action="/user/<%=session.user.id%>/favourites/<%=quizes[i].id%>?_method=put">
                    <input type="image" onClick="return confirm('A単adir favorito');" src="/favNo.jpg" alt="Submit">
                 </form>
            <%} else {%>
            <%for (var j=0; j<favs.length; j++) {
              if(favs[j] === quizes[i].id) {%>
                 <form method="post" action="/user/<%=session.user.id%>/favourites/<%=quizes[i].id%>?_method=delete">
                    <input type="image" onClick="return confirm('Eliminar favorito');" src="/favSi.jpg" alt="Submit">
                 </form>
              <%} else {%>
                 <form method="post" action="/user/<%=session.user.id%>/favourites/<%=quizes[i].id%>?_method=put">
                    <input type="image" onClick="return confirm('A単adir favorito');" src="/favNo.jpg" alt="Submit">
                 </form>
              <%}%> 
            <%}%>
            <%}%>
        </td>
         <%} else {%>
        <td>
            <% if (favs.length === 0){%>
                 <form method="post" action="/user/<%=session.user.id%>/favourites/<%=quizes[i].id%>?_method=put">
                    <input type="image" onClick="return confirm('A単adir favorito');" src="/favNo.jpg" alt="Submit">
                 </form>
            <%} else {%>
            <%for (var j=0; j<favs.length; j++) {
              if(favs[j] === quizes[i].id) {%>
                 <form method="post" action="/user/<%=session.user.id%>/favourites/<%=quizes[i].id%>?_method=delete">
                    <input type="image" onClick="return confirm('Eliminar favorito');" src="/favSi.jpg" alt="Submit">
                 </form>
              <%} else {%>
                 <form method="post" action="/user/<%=session.user.id%>/favourites/<%=quizes[i].id%>?_method=put">
                    <input type="image" onClick="return confirm('A単adir favorito');" src="/favNo.jpg" alt="Submit">
                 </form>
              <%}%> 
            <%}%>
            <%}%>
          <%}%>
        </td>
      <%}%>
    </tr> 
  <%}%>
</table>
<p/>
<%if(session.user){%>
  <a href="/quizes/new"><button>Crear pregunta</button></a>
<%}%>

<form method="get" action="/quizes">
    Preguntas a buscar: <br>
    <input type="text" name="search" /><br>
    <input type="submit" value="Enviar" />
</form>