<h2><span>Página de estadísticas</h2>
<p>Número de preguntas: <%= quizes.length %></p>
<% var nComments=0; for (var i=0; i < quizes.length; i++) {%>
	<%for(a in quizes[i].Comments){%>
	  <%if(quizes[i].Comments[a]){%>
	    <%nComments++;%>
	  <%}%>
	<%}%>	
 <%}%>
<p>Número de comentarios totales: <%= nComments %></p>
<p>Número medio de comentarios por pregunta: <%= nComments/quizes.length %></p>
<% var conComments=0; for (var j=0; j < quizes.length; j++) {%>
	<%if(Object.keys(quizes[j].Comments).length > 0){%>
	  <%conComments++;%>
	<%}%>
<%}%>
<p>Número de preguntas sin comentarios: <%= quizes.length - conComments %></p>
<p>Número de preguntas con comentarios: <%= conComments %></p>